
/* -------------------------------------------------------------------------- */
/*                                   ID CARD                                  */
/* -------------------------------------------------------------------------- */

.id-card{
  display: flex;
  gap: 30px;
  border: 2px solid #000;
  margin-bottom: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                  GREETING                                  */
/* -------------------------------------------------------------------------- */
.section-style{
  border: 2px solid #000;
  margin-bottom: 15px;
}


/* -------------------------------------------------------------------------- */
/*                                CREDIT CARDS                                */
/* -------------------------------------------------------------------------- */

.creditCard{
    margin: 10px;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}